* {
  box-sizing: border-box;
}

body {
    background-color: #202121;
    font-family: 'Alatsi', sans-serif;
    color: white;
}

#canvasSpace {
    background: #fff;
    width: 80vw;
    height: 80vh;
    margin: 3rem auto 0 auto;
}

#canvasPaint {
    width: 80vw;
    height: 80vh;
    cursor: crosshair;
    background: #fff;
    position: relative;
    margin: 3rem auto 0 auto;
}

#controls {
    height: 10vh;
    width: 70vw;
    background: #444545;
    margin: 3rem auto 0 auto;
    display: flex;
}

#controls > div {
    width: 25%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#brush button, #brightness button, #fileUpload button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 1rem;
  margin-left: 0.5rem;
  font-family: 'Alatsi', sans-serif;
}

.colors button {
  display: inline-block;
  border: 1px solid #00000026;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  width: 33.3%;
  height: 50%;
}

.colors button:nth-of-type(1) {
  background-color: #ff0000;
}

.colors button:nth-of-type(2) {
  background-color: #fff200;
}

.colors button:nth-of-type(3) {
  background-color: #000000;
}

.colors button:nth-of-type(4) {
  background-color: #d900ff;
}

.colors button:nth-of-type(5) {
  background-color: #00ff11;
}

.colors button:nth-of-type(6) {
  background-color: #999999;
}

#userImage {
  max-width:100%;
  max-height:100%;
}

.brush {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
}
.circle-brush {
    border-radius: 50%;
}
.triangle-brush{
width: 0;
height: 0;
border-style: solid;
border-width: 0 5px 10px 5px;
border-color: transparent transparent #000000 transparent;
position: absolute;
}